<div class="jumbotron">
  <h2>Give us your information and we will reach out to you instantly!</h2>
  
    <div class="row styledContactForm">
        <div class="col-xs-12">
            <div class='container'>
              <div class='name'>
                <input class='first' placeholder='First Name' type='text'>
                <input class='last' placeholder='Last Name' type='text'>
              </div>
              <div class='contact'>
                <input class='email' placeholder='E-mail Address' type='text'>
                <input class='email' placeholder='Mobile Number' type='number'>
              </div>
              <div>
                <input class='message' placeholder='Your Message' type='text'>
              </div>
            </div>
        </div>
    </div><br/>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Send Enquiry <span class="glyphicon glyphicon-envelope"></span></a></p>
</div>