<div class="jumbotron">
  <h2>Welcome to SMC Furniture, Indore!</h2>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    If you can <b>imagine</b> it, we will <b>create</b> it!
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Go to Products! <span class="glyphicon glyphicon-th"></span></a></p>
</div>

<div class="row marketing">
  <h4>About SMC Furniture:</h4>
  <p>
    We are focused on creating special statement pieces for designers and boutiques. Our pieces are designed by us and distinguished by the use of unusual materials, proportion and thoughtful design. We love what we do and hope you enjoy exploring our collection in more detail.
  </p>

  <h4>Our Specialities:</h4>
  <p>
    We are having expertise and skills in building metal body and woooden body furniture which includes furnitures for Bedroom, Dining, Hall and Outdoor:
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
